body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    text-align: center;
    font-family: monospace;
}

button[type="submit"] {
    margin-right: 430px;
    margin-top: 10px;
}

fieldset>legend {
    text-transform: uppercase;
    text-align: left;
}

form ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

form ul li {
    padding: 0;
    margin: 0;
}

#fieldset-connaissnaces {
    color: red;
    background-color: rgb(185, 190, 254);
}

.fieldset-inner {
    text-align: left;
}

.fieldset-main {
    width: 500px;
    padding: 50px;
}

.form-labels,
.form-data {
    display: inline-block;
    /* background-color: yellow; */
    padding: 0;
    margin: 0;
    line-height: 30px;
}

.form-labels {
    width: 300px;
    vertical-align: top;
    font-weight: bolder;
}