body {
    padding: 50px;
}

#articles {
    display: flex;
    align-items: flex-start;
}

header {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

a {
    padding: 10px;
}

a:link {
    color: white;
    background-color: gray;
}

a:visited {
    color: lightgray;
    background-color: dimgray;
}

a:active {
    color: yellow;
    background-color: red;
}

a:hover {
    color: yellow;
    background-color: dimgray;
}

footer {
    display: flex;
    align-items: flex-start;
}

footer div {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.footer3 {
    color: white;
    background-color: darkblue;
}