body
{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#tableau
{
    padding-bottom: 20px;
}

/*///Eléments du tableau///*/

.journee
{
    height: 40px;
}

.matin
{
    padding: 10px;
}

.jour
{
    border: none;
}

.frontBack
{
    padding: 10px;
}

.black
{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.gray
{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.lightGray
{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
.red
{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.green
{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
}
.yellow
{
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}